This is where user info goes.

<h1><%= @user.name %></h1>

<p><%= @user.email %></p>


<a href="/users/<%= @user.id %>/edit">Edit profile</a>


<%= form_tag('/users', method:"delete") do%> 
  <input type="hidden" name="id" value="<%= @user.id %>">
  <input type="submit" value="Delete Profile">
<% end %>

<p><a href = "/users/<%= @user.id %>/stories/new"> Add a story </a></p>
<a href = "/users/<%= @user.id %>/stories">View all stories </a>

